@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body, 
ul,
.header, 
.hero, 
.hero-container,
.info, 
.info-container,
.quote,
.quote-container,
.call-action,
.call-container,
.call-details,
.footer {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    align-items: center;
    justify-content: space-around;
    background: #1f2937;
    color: #f9faf8;
    padding: 10px;
}

.header .logo {
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    justify-content: center;
    background: #1f2937;
    gap: 60px;
    padding: 90px;
    flex-wrap: wrap;
}

.hero-container {
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    min-width: 100px;
}

.hero-container .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-container .text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.hero img {
    width: auto;
    height: 310px;
    border-radius: 14px;
    border: solid 2px #3882f6;
    box-shadow: 0px 0px 10px #e5e7eb;
}

.info {
    flex-direction: column;
    align-items: center;
    margin: 55px;
}

.info .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.info-details img, .info-details .text {
    max-width: 175px;  
}

.info-details {
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-align: center;
}

.info-details img {
    height: auto;
    border-radius: 14px;
    border: solid 2px #3882f6;
    box-shadow: 0px 0px 8px;
}

.info-details .text {
    font-size: 18px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    justify-content: center;
    min-height: 430px;
}

.quote-container {
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    max-width: 900px;
    gap: 20px;

}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    /* margin: 36px 36px 0 36px; */
}

.quote .name {
    align-self: flex-end;
    justify-content: flex-start;
    font-size: 26px;
    font-weight: 600;
    color: #1f2937;
    margin-right: 100px;
}

.call-action {
    justify-content: center;
    margin: 100px auto;
}

.call-container {
    align-items: center;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    gap: 100px;
    padding: 50px 100px;
}

.call-details {
    flex-direction: column;
}

.call-details .title {
    font-weight: bold;
    font-size: 24px;
}

.call-details .text {
    font-size: 16px;
    color: #e5e7eb;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 30px;
}

button {
    width: 140px;
    height: 40px;
    background: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #f9faf8;
    flex-shrink: 0;
}

button.hero-butt {
    border: none;
    box-shadow: 2px 2px 6px #e5e7eb;
}